@mixin singleHeight($height) {
    height: $height;
    line-height: $height;
}

@mixin mulEllipsis($lineNum) {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lineNum;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// @include bgop(#000, 0.5); for ie8-
// @mixin bgop($hexColor, $opacity) {
//     $rgba: rgba($hexColor, $opacity);
//     *background: url(about:blank);
//     background: $rgba;
//     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($rgba)}', endColorstr='#{ie-hex-str($rgba)}') \9;

//     @at-root(without: all) {
//         :root & {
//             filter: ''\9;
//         }
//     }
// }

@mixin triangle ($size:12px, $color:#000, $direction:up, $inner:false) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    @if ($direction==top) or ($direction==right) or ($direction==bottom) or ($direction==left) {
        //设置边框 
        border: ($size / 2) solid transparent;

        //三角朝上 
        @if $direction==top {

            //三角内嵌 $inner=true 
            @if $inner {
                border-color: $color $color transparent $color;
            }

            @else {
                //三角为内嵌$inner=false 
                border-color: transparent transparent $color transparent;
            }
        }

        //三角朝右
        @else if $direction==right {
            @if $inner {
                border-color: transparent transparent transparent $color;
            }

            @else {
                border-color: $color $color $color transparent;
            }
        }



        //三角朝下
        @else if $direction==bottom {
            @if $inner {
                border-color: transparent $color $color $color;
            }

            @else {
                border-color: $color transparent transparent transparent;
            }
        }

        //三角朝左
        @else if $direction==left {
            @if $inner {
                border-color: transparent $color transparent transparent;
            }

            @else {
                border-color: $color transparent $color $color;
            }
        }


    }

    //当三角为左上、右上直角三角形时 
    @else if ($direction==left-top) or ($direction==right-top) {
        border-top: $size solid $color;

        @if $direction==left-top {
            //左上
            border-right: $size solid transparent;
        }

        @else if $direction==right-top {
            //右上
            border-left: $size solid transparent;
        }
    }

    //当三角为左下、右下直角三角形时 
    @else if($direction==right-bottom) or ($direction==left-bottom) {
        border-bottom: $size solid $color;

        @if $direction==right-bottom {
            //右下
            border-left: $size solid transparent;
        }

        @else if $direction==left-bottom {
            //左下
            border-left: $size solid transparent;
        }
    }
}